<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
      <%= render 'books/new' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'users_list', users: @users %>
    </div>
  </div>
</div>